{{#in-element (get-element "top-nav")}}
  <TopNav class="fixed top-0 right-0" />
{{/in-element}}
<div class="max-w-4xl mx-auto">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl font-semibold">
      Pipelines
    </h1>
    <div class="flex items-center space-x-2">
      <Mxa::SearchInput @placeholder="Search pipelines" @onInput={{this.setFuzzy}} />
      <LinkTo
        @route="pipeline.index"
        @model="new"
        class="mxa-btn mxa-btn-primary text-sm"
        data-test-button="build-pipeline"
      >
        Create Pipeline
      </LinkTo>
    </div>
  </div>
  <Pipelines::List
    @pipelines={{this.currentPageFilteredPipelines}}
    @onDeletePipeline={{this.pipelinesController.setConfirmDeletePipeline}}
  />
  <div class="flex items-center justify-between">
    <div class="text-gray-500 text-sm font-medium">
      Displaying
      {{this.currentPageAccumulatedLength}}
      of
      {{this.filteredPipelines.length}}
    </div>
    {{#if (gt this.totalPages 1)}}
      <div class="flex items-center space-x-2">
        {{#each this.pagesList as |page|}}
          <LinkTo
            class="flex items-center justify-center h-6 w-6 bg-white rounded border border-gray-300 text-sm"
            @route="pipelines.index"
            @query={{hash page=(if (eq page 1) null page)}}
          >
            {{page}}
          </LinkTo>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
