<ul class="flex items-center mb-4 text-sm text-gray-500 space-x-8">
  <li>
    <LinkTo
      class="mxa-link pb-2 border-b-2 font-medium"
      @route="connectors"
      @query={{hash filter=null}}
    >
      All
    </LinkTo>
  </li>
  <li>
    <LinkTo
      class="mxa-link pb-2 border-b-2 font-medium"
      @route="connectors"
      @query={{hash filter="source"}}
    >
      Source
    </LinkTo>
  </li>
  <li>
    <LinkTo
      class="mxa-link pb-2 border-b-2 font-medium"
      @route="connectors"
      @query={{hash filter="destination"}}
    >
      Destination
    </LinkTo>
  </li>
</ul>

<div class="bg-white rounded border border-gray-300 mb-4">
  <table class="table-fixed w-full text-left">
    <thead>
      <tr class="border-b border-gray-300">
        <th class="text-xs uppercase font-medium py-2 px-4 w-2/3">
          Connector Name
        </th>
        <th class="text-xs uppercase font-medium py-2 px-4 w-2/3">
          Type
        </th>
        <th class="text-xs uppercase font-medium text-right py-2 px-4 w-2/3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="text-sm text-gray-500">
      {{#each @connectors as |connector|}}
        <tr class="border-b border-gray-300">
          <td class="p-4 border-gray-300">
            <div class="font-medium text-sm">{{truncate connector.name}}</div>
            {{!-- <div class="text-xs text-gray-500">{{truncate pipeline.description}}</div> --}}
          </td>

          <td class="p-4 border-gray-300">
            <div class="flex items-center">
              <div
                class="h-1.5 w-1.5 rounded-full mr-2
                  {{if (eq connector.connectorType 'source') 'bg-yellow-400' 'bg-teal-600'}}"
              ></div>
              <div class="capitalize">{{if
                  (eq connector.connectorType "source")
                  connector.connectorType
                  "Destination"
                }}</div>
            </div>
          </td>

          <td class="p-4">
            <div class="flex items-center justify-end w-full space-x-4">
              <div>
                <BasicDropdown @horizontalPosition="auto-right" as |dd|>
                  <dd.Trigger>
                    <svg class="text-gray-500 fill-current h-5 w-5">
                      <use xlink:href="/ui/svg-defs.svg#action-menu-16"></use>
                    </svg>
                  </dd.Trigger>

                  <dd.Content
                    class="bg-white rounded-md border border-gray-200 shadow-md p-4 text-sm"
                  >
                    <ul>
                      <li class="pr-16">
                        <LinkTo @route="pipeline.index" @model={{pipeline.id}}>
                          Details
                        </LinkTo>
                      </li>
                    </ul>
                  </dd.Content>
                </BasicDropdown>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
