<div
  class="h-12 bg-white px-9 py-2 flex items-center relative z-10 border-b border-gray-200"
  ...attributes
>
  <span class="font-medium text-sm">
    <span class="text-gray-500">
      <LinkTo @route="pipelines.index" data-test-pipeline-top-nav="pipelines-link">
        Pipelines
      </LinkTo>
      /
    </span>
    {{#if @pipeline.name}}
      <span class="text-gray-900" data-test-pipeline-top-nav="name">
        {{#if @pipeline.isNew}}
          {{@pipeline.name}}
        {{else}}
          <LinkTo
            @route="pipeline.index"
            @model={{@pipeline.id}}
            data-test-pipeline-top-nav="pipeline-link"
          >
            {{@pipeline.name}}
          </LinkTo>
        {{/if}}
      </span>
    {{else}}
      <span class="text-gray-500">
        Name your pipeline
      </span>
    {{/if}}
  </span>
</div>
