<div class="flex bg-gray-300 absolute top-26 right-0 left-0 bottom-0">
  <div class="flex-auto" {{will-destroy this.unregister this.pipelineNodeManager}}>
    <div class="flex h-full relative">
      <div class="bg-white w-76 flex-none shadow-md pl-9 pr-4">
        <div class="pt-4 pb-2 flex items-center justify-between font-semibold text-lg">
          Pipeline
          <div>
            {{#if @pipeline.isRunning}}
              <EmberTooltip>
                <div class="text-xs">
                  You must pause the pipeline if you'd like to add new connectors.
                </div>
              </EmberTooltip>
              <button
                type="button"
                class="text-xl py-1 px-1.5 bg-gray-200 border-none text-gray-900 leading-5 rounded"
                data-test-pipeline-editor-add-node-disabled
              >
                <svg class="text-gray-900 fill-current h-4 w-4">
                  <use xlink:href={{root-url "svg-defs.svg#plus-16"}}></use>
                </svg>
              </button>
            {{else}}
              <BasicDropdown @horizontalPosition="auto-right" as |dd|>
                <dd.Trigger>
                  <button
                    type="button"
                    class="text-xl py-1 px-1.5 bg-gray-200 border-none text-gray-900 leading-5 rounded"
                    data-test-pipeline-editor-add-node
                  >
                    <svg class="text-gray-900 fill-current h-4 w-4">
                      <use xlink:href={{root-url "svg-defs.svg#plus-16"}}></use>
                    </svg>
                  </button>
                </dd.Trigger>

                <dd.Content class="bg-white rounded-md border border-gray-200 shadow-md text-sm">
                  <ul>
                    {{!-- template-lint-disable no-invalid-interactive --}}
                    <li
                      class="py-4 pr-16 pl-4 cursor-pointer flex items-center font-medium hover:bg-gray-100"
                      data-test-pipeline-editor-add-node-source
                      {{on "click" (fn this.showCreateConnectorModal "source")}}
                      {{on "click" dd.actions.close}}
                    >
                    {{!-- template-lint-enable no-invalid-interactive --}}
                      <svg class="fill-current h-4 w-4 mr-2">
                        <use xlink:href="/ui/svg-defs.svg#source-16"></use>
                      </svg>
                      Source
                    </li>
                    <li
                      class="py-4 pr-16 pl-4 cursor-pointer flex items-center font-medium hover:bg-gray-100"
                      data-test-pipeline-editor-add-node-destination
                      {{on "click" (fn this.showCreateConnectorModal "destination")}}
                      {{on "click" dd.actions.close}}
                    >
                      <svg class="fill-current h-4 w-4 mr-2">
                        <use xlink:href="/ui/svg-defs.svg#destination-16"></use>
                      </svg>
                      Destination
                    </li>
                  </ul>
                </dd.Content>
              </BasicDropdown>
            {{/if}}
          </div>
        </div>
        <div>
          <PipelineEditor::ConnectorOverview
            @sourceConnectors={{this.sourceConnectors}}
            @destinationConnectors={{this.destinationConnectors}}
            @selectNode={{this.selectNode}}
            @selectedNode={{this.selectedNode}}
          />
        </div>
      </div>
      <div class="w-full relative overflow-hidden">
        {{#if (gt this.allConnectors.length 0)}}
          <div id="editor-container" class="w-full h-full">
            <PipelineEditor::SvgLayer />
            <div id="editor-bg" class="p-12 w-full h-full absolute">
              <div class="flex items-center space-x-16 w-editor">
                <PipelineEditor::ConnectorColumn
                  @connectorType="source"
                  @connectors={{this.sourceConnectors}}
                  @selectedNode={{this.selectedNode}}
                  @selectNode={{this.selectNode}}
                  data-test-connector-column="source"
                />
                <div class="flex flex-col w-36 items-center text-center">
                  {{#if (gt this.allConnectors.length 0)}}
                    <PipelineEditor::Nodes::StreamNode />
                  {{/if}}
                </div>
                <PipelineEditor::ConnectorColumn
                  @connectorType="destination"
                  @connectors={{this.destinationConnectors}}
                  @selectedNode={{this.selectedNode}}
                  @selectNode={{this.selectNode}}
                  data-test-connector-column="destination"
                />
              </div>
            </div>
            <div class="absolute bottom-2 left-2">
              <div class="flex flex-col items-center justify-center space-y-2">
                <button
                  type="button"
                  class="h-6 w-6 bg-white shadow hover:shadow-lg rounded-sm cursor-pointer"
                  {{on "click" this.pipelineNodeManager.zoomResetAction}}
                >
                  <svg class="text-gray-500 mx-auto stroke-current h-4 w-4">
                    <use xlink:href="/ui/svg-defs.svg#view-16"></use>
                  </svg>
                </button>
                <div class="flex flex-col bg-white shadow rounded-sm">
                  <button
                    type="button"
                    class="h-6 w-6 text-center cursor-pointer"
                    {{on "click" this.pipelineNodeManager.zoomInAction}}
                  >
                    +
                  </button>
                  <button
                    type="button"
                    class="h-6 w-6 text-center cursor-pointer"
                    {{on "click" this.pipelineNodeManager.zoomOutAction}}
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <div class="w-full h-full p-12" data-test-pipeline-zero-state>
            <div class="flex items-center justify-center w-full h-full">
              <div>
                <h1 class="text-center text-2xl font-semibold">
                  Build your pipeline
                </h1>
                <p class="text-center mb-2">
                  Begin building your pipeline by adding a Source or Destination Connector.
                </p>
                <div class="flex items-center justify-center">
                  <Mxa::Button
                    class="mr-1"
                    data-test-pipeline-zero-state-button="source"
                    {{on "click" (fn this.showCreateConnectorModal "source")}}
                  >
                    Add Source
                  </Mxa::Button>
                  <Mxa::Button
                    class="ml-1"
                    data-test-pipeline-zero-state-button="destination"
                    {{on "click" (fn this.showCreateConnectorModal "destination")}}
                  >
                    Add Destination
                  </Mxa::Button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if this.isConnectorSelectedNode}}
          <PipelineEditor::ConnectorSlidePanel
            @selectedNode={{this.selectedNode}}
            @availableTransforms={{@transforms}}
            @onDismiss={{fn (mut this.selectedNode) null}}
            @showEditConnectorModal={{fn this.showEditConnectorModal this.selectedNode}}
            @showDeleteConnectorModal={{this.showDeleteConnectorModal}}
            @hideDeleteConnectorModal={{this.hideDeleteConnectorModal}}
            @pipeline={{@pipeline}}
          />
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if this.isShowingNewConnectorModal}}
  <PipelineEditor::ConnectorModal
    @newConnectorType={{this.newConnectorType}}
    @connectorPlugins={{@connectorPlugins}}
    @onDismiss={{this.cancelCreateConnectorModal}}
    @createConnector={{this.createConnector}}
    @connector={{this.connectorModalModel}}
    data-test-connector-modal="new"
  />
{{/if}}
{{#if this.isShowingEditConnectorModal}}
  <PipelineEditor::ConnectorModal
    @newConnectorType={{this.newConnectorType}}
    @connectorPlugins={{@connectorPlugins}}
    @onDismiss={{this.cancelEditConnectorModal}}
    @updateConnector={{this.updateConnector}}
    @connector={{this.selectedNode}}
    @isEditing={{true}}
    data-test-connector-modal="edit"
  />
{{/if}}
{{#if this.isShowingDeleteConnectorModal}}
  <Mxa::ConfirmModal
    @onDismiss={{this.hideDeleteConnectorModal}}
    @confirmableActionName="Delete"
    @entityName={{this.selectedNode.name}}
    @confirmedAction={{fn this.destroyConnector this.selectedNode}}
    @isTextInputRequired={{true}}
    as |entityName|
  >
    Deleting a connector cannot be undone. Please input your connector's name
    <code>
      (
      {{entityName}}
      )
    </code>
    below to confirm you would like to delete this connector
  </Mxa::ConfirmModal>
{{/if}}
