<div class="bg-white rounded w-full">
  <div class="flex justify-between items-center text-sm p-4 border-b border-gray-300">
    <span class="text-base font-medium">
      Select transform
    </span>
    <button type="button" {{on "click" @dismiss}}>
      <svg class="text-gray-500 fill-current h-4 w-4">
        <use xlink:href="/ui/svg-defs.svg#close-16"></use>
      </svg>
    </button>
  </div>
  <div class="p-4">
    <Mxa::SearchInput class="mb-4" @onInput={{this.onFuzzyInput}} />
    <div class="text-xs text-gray-500 uppercase">
      Built-in Transforms
    </div>
    <ul>
      {{#each this.availableFilteredTransforms as |availableTransform|}}
        {{!-- template-lint-disable no-invalid-interactive --}}
        <li
          class="border border-gray-300 p-4 flex items-center justify-between rounded-md mb-2 cursor-pointer"
          {{on "click" (fn @showNewTransformPanel availableTransform)}}
          data-test-available-transform={{dasherize availableTransform.label}}
        >
        {{!-- template-lint-enable no-invalid-interactive --}}
          <div class="w-5/6">
            <div class="text-sm">
              {{availableTransform.label}}
            </div>
            <p class="text-xs">
              {{availableTransform.description}}
            </p>
          </div>
          <svg class="text-gray-500 fill-current h-4 w-4">
            <use xlink:href="/ui/svg-defs.svg#right-arrow-16"></use>
          </svg>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
