<div class="w-full bg-white rounded-md">
  <div class="flex items-center text-sm p-4 border-b border-gray-300">
    <button class="mr-2" type="button" {{on "click" @dismiss}}>
      <svg class="text-gray-500 h-4 w-4">
        <use xlink:href="/ui/svg-defs.svg#left-arrow-16"></use>
      </svg>
    </button>
    {{#if @isEditing}}
      <div class="flex-auto"></div>
      <div>
        <BasicDropdown as |dd|>
          <dd.Trigger data-test-dropdown-trigger="connector-transform-options">
            <svg class="text-gray-900 fill-current h-4 w-4">
              <use xlink:href="/ui/svg-defs.svg#action-menu-16"></use>
            </svg>
          </dd.Trigger>

          <dd.Content class="bg-white rounded-md border border-gray-200 shadow-md p-4 text-sm">
            <ul>
              {{!-- template-lint-disable no-invalid-interactive --}}
              <li
                class="cursor-pointer mb-4"
                {{on "click" (fn @duplicateTransform @connectorTransform)}}
                {{on "click" dd.actions.close}}
                data-test-dropdown-button="duplicate-connector-transform"
              >
              {{!-- template-lint-enable no-invalid-interactive --}}
                Duplicate
              </li>

              {{!-- template-lint-disable no-invalid-interactive --}}
              <li
                {{on "click" (fn @removeTransform @connectorTransform)}}
                {{on "click" dd.actions.close}}
                class="cursor-pointer text-orange-700"
                data-test-dropdown-button="delete-connector-transform"
              >
              {{!-- template-lint-enable no-invalid-interactive --}}
                Delete
              </li>
            </ul>
          </dd.Content>
        </BasicDropdown>
      </div>
    {{/if}}
  </div>

  <div class="p-4 bg-gray-100">
    <span
      class="font-medium text-gray-900 text-sm"
    >{{this.connectorTransform.transform.label}}</span>
    <p class="font-gray-500 text-xs">{{this.connectorTransform.transform.description}}</p>
  </div>

  <div class="p-4">
    <div class="flex items-center">
      <label class="text-xs text-gray-900 uppercase">Transform on</label>
    </div>
    <Mxa::Select
      @options={{this.transformOnOptions}}
      @selectedOption={{this.selectedTransformOnOption}}
      @onChange={{this.setTransformOnOption}}
    />
    {{#each this.blueprintFields as |field|}}
      <PipelineEditor::ConfigField @field={{field}} @setInputValue={{this.setTransformConfig}} />
      <div class="mb-2"></div>
    {{/each}}

    <div class="flex items-center w-full">
      <Mxa::Button class="mr-2" @buttonType="secondary" {{on "click" @dismiss}}>Cancel</Mxa::Button>

      {{#if this.isEditing}}
        <Mxa::Button
          disabled={{not this.isValid}}
          {{on "click" (fn @updateTransform @connectorTransform @selectedNode)}}
          data-test-button="update-connector-transform"
        >
          Update transform
        </Mxa::Button>

      {{else}}
        <Mxa::Button
          disabled={{not this.isValid}}
          {{on "click" (fn this.addTransform this.connectorTransform @selectedNode)}}
          data-test-button="save-connector-transform"
        >
          Add transform
        </Mxa::Button>
      {{/if}}
    </div>
  </div>
</div>
