{{#if @model.pipeline.isNew}}
  <Pipeline::Form @title="Create Pipeline" @pipeline={{@model.pipeline}} as |pipeline|>
    <div class="flex items-center justify-end space-x-2">
      <LinkTo
        @route="pipelines.index"
        class="mxa-btn mxa-btn-secondary text-sm"
        data-test-button="secondary"
      >
        Cancel
      </LinkTo>
      <Mxa::Button
        disabled={{not pipeline.isValid}}
        data-test-button="primary"
        {{on "click" this.createPipeline}}
      >
        Create pipeline
      </Mxa::Button>
    </div>
  </Pipeline::Form>
{{else}}
  <PipelineEditor
    @pipeline={{@model.pipeline}}
    @connectorPlugins={{@model.connectorPlugins}}
    @transforms={{@model.transforms}}
  />
{{/if}}
