<div class="mx-auto max-w-2xl pt-20 pb-10">
  <Mxa::DialogCard class="p-8">
    <div class="font-medium pt-4 text-lg">
      {{@title}}
    </div>

    <div class="text-xs uppercase mt-2 pb-2">
      <label class="inline-block mb-2">Name</label>
      <Mxa::UnboundInput
        @value={{@pipeline.name}}
        @placeholder="Pipeline Name"
        @isValid={{this.isPipelineNameValid}}
        @onInput={{fn this.setPipelineName @pipeline}}
        disabled={{and (not @pipeline.isNew) @pipeline.isRunning}}
        data-test-pipeline-form-name-input
      />
    </div>

    {{#if (not this.isPipelineNameValid)}}
      <div class="text-orange-700 text-xs">
        {{@pipeline.error.name.validation}}
      </div>
    {{/if}}

    <div class="text-xs uppercase pt-6 mb-8">
      <div class="flex items-center justify-between">
        <label for="pipeline-description" class="inline-block mb-2">
          Description
        </label>

        <span class="{{if (gt @pipeline.description.length 250) 'text-orange-700'}}">
          {{or @pipeline.description.length 0}}
          / 250
        </span>
      </div>
      <Textarea
        id="pipeline-description"
        @value={{@pipeline.description}}
        placeholder="A description of the pipeline"
        class="text-sm px-4 py-2 block w-full border border-gray-300 rounded resize-none focus:outline-none focus:border-purple-600"
        rows="6"
        cols="80"
        disabled={{and (not @pipeline.isNew) @pipeline.isRunning}}
        data-test-pipeline-form-description-input
      />
    </div>

    {{yield @pipeline}}

    {{#if (and (not @pipeline.isNew) @pipeline.isRunning)}}
      <div class="text-orange-700 text-sm font-normal flex justify-end mt-4">You cannot edit a
        pipeline's settings while it is running</div>
    {{/if}}
  </Mxa::DialogCard>
</div>
