<div data-test-pipeline-status>
  <BasicDropdown @horizontalPosition="auto-right" as |dd|>
    <dd.Trigger>
      <Mxa::Button class="flex items-center" @buttonType="secondary">
        <div
          class="w-2 h-2 rounded-full mr-2
            {{if (eq @status 'degraded') 'bg-orange-700'}}
            {{if (eq @status 'paused') 'bg-gray-300'}}
            {{if (eq @status 'running') 'bg-teal-600'}}"
          data-test-pipeline-status-indicator
        ></div>
        <div class="capitalize" data-test-pipeline-status-label>{{if
            (eq @status "degraded")
            "paused"
            @status
          }}</div>
        <svg class="text-gray-500 stroke-current h-6 w-6">
          <use xlink:href="/ui/svg-defs.svg#down-arrow-24"></use>
        </svg>
      </Mxa::Button>
    </dd.Trigger>
    <dd.Content class="bg-white rounded-md border border-gray-200 shadow-md text-sm">

      <ul>
        {{#if (or (eq @status "paused") (eq @status "degraded"))}}
          <li
            data-test-pipeline-status-action="start"
            class="p-4 cursor-pointer flex items-center hover:bg-gray-100"
            {{on "click" @startPipeline}}
            {{on "click" dd.actions.close}}
          >
            <svg class="text-teal-600 stroke-current h-4 w-4 mr-2">
              <use xlink:href="/ui/svg-defs.svg#play-24"></use>
            </svg>
            Start Pipeline
          </li>
        {{else}}
          <li
            data-test-pipeline-status-action="stop"
            class="p-4 cursor-pointer flex items-center hover:bg-gray-100"
            {{on "click" @stopPipeline}}
            {{on "click" dd.actions.close}}
          >
            <svg class="text-gray-500 stroke-current h-4 w-4 mr-2">
              <use xlink:href="/ui/svg-defs.svg#pause-24"></use>
            </svg>
            Pause Pipeline
          </li>
        {{/if}}
      </ul>
    </dd.Content>
  </BasicDropdown>
</div>
