<ul class="flex items-center mb-9 text-sm text-gray-500 space-x-8 font-medium">
  <li>
    <LinkTo
      class="mxa-link pb-3 border-b-2 font-medium"
      @route="pipelines.index"
      @query={{hash filter=null}}
    >
      All
    </LinkTo>
  </li>
  <li>
    <LinkTo
      class="mxa-link pb-3 border-b-2 font-medium"
      @route="pipelines.index"
      @query={{hash filter="running"}}
    >
      Running
    </LinkTo>
  </li>
  <li>
    <LinkTo
      class="mxa-link pb-3 border-b-2"
      @route="pipelines.index"
      @query={{hash filter="paused"}}
    >
      Paused
    </LinkTo>
  </li>
</ul>
<div class="bg-white rounded border border-gray-300 mb-4">
  <table class="table-auto w-full text-left">
    <thead>
      <tr class="border-b border-gray-300">
        <th class="text-xs uppercase font-medium py-3 px-4 w-2/3">
          Pipeline Name
        </th>
        <th class="text-xs uppercase font-medium py-3 px-4 w-2/3">
          Connectors
        </th>
        <th class="text-xs uppercase font-medium py-3 px-4 w-1/3">
          Status
        </th>
        <th class="text-xs uppercase font-medium py-3 px-4 w-1/3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="text-sm">
      {{#each @pipelines as |pipeline|}}
        <tr class="border-b border-gray-300">
          <td class="p-4 border-gray-300">
            <LinkTo
              class="font-medium text-sm"
              @route="pipeline"
              @model={{pipeline.id}}
              data-test-pipeline-list-item={{pipeline.id}}
            >
              {{truncate pipeline.name}}
            </LinkTo>
            <div class="text-xs text-gray-500">
              {{truncate pipeline.description}}
            </div>
          </td>
          <td class="p-4 border-gray-300 text-gray-900">
            <span class="font-medium text-xs italic">
              {{pluralize pipeline.connectorCount "connector"}}
            </span>
          </td>
          <td class="p-4">
            <div class="flex items-center w-full space-x-4">
              <PipelineEditor::StatusBadge
                @status={{pipeline.humanFriendlyStatus}}
                @error={{pipeline.humanFriendlyError}}
              />
            </div>
          </td>
          <td class="p-4">
            <div class="flex items-center justify-center w-full space-x-4">
              <div>
                <BasicDropdown @horizontalPosition="auto-right" as |dd|>
                  <dd.Trigger>
                    <svg class="text-gray-500 fill-current h-5 w-5">
                      <use xlink:href="/ui/svg-defs.svg#action-menu-16"></use>
                    </svg>
                  </dd.Trigger>
                  <dd.Content
                    class="bg-white rounded-md border border-gray-200 shadow-md p-4 text-sm"
                  >
                    <ul>
                      <li class="mb-4 pr-16">
                        <LinkTo
                          class="flex items-center font-medium"
                          @route="pipeline.index"
                          @model={{pipeline.id}}
                        >
                          <svg class="fill-current h-4 w-4 mr-2">
                            <use xlink:href="/ui/svg-defs.svg#spike-16"></use>
                          </svg>
                          Pipeline
                        </LinkTo>
                      </li>
                      <li class="mb-4 pr-16 flex">
                        <LinkTo
                          class="flex items-center font-medium"
                          @route="pipeline.settings"
                          @model={{pipeline.id}}
                        >
                          <svg class="fill-current h-4 w-4 mr-2">
                            <use xlink:href="/ui/svg-defs.svg#settings-16"></use>
                          </svg>
                          Settings
                        </LinkTo>
                      </li>
                      <li
                        class="text-orange-700 font-medium pr-16 cursor-pointer flex items-center"
                        {{on "click" (fn @onDeletePipeline pipeline)}}
                        {{on "click" dd.actions.close}}
                      >
                        <svg class="fill-current text-orange-700 h-4 w-4 mr-2">
                          <use xlink:href="/ui/svg-defs.svg#delete-16"></use>
                        </svg>
                        Delete
                      </li>
                    </ul>
                  </dd.Content>
                </BasicDropdown>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
