<article
  class="bg-white border rounded border-gray-300 shadow-md w-80 flex items-stretch overflow-hidden mt-12"
  ...attributes
>
  <div class="bg-orange-700 w-4" data-test-notification-card-marker></div>
  <section class="pl-4 pr-8 py-4 flex flex-col gap-x-2" data-test-error>
    <header class="flex items-center flex-start gap-x-2 mb-2" data-test-error-title>
      <div>
        <svg class="stroke-current h-6 w-6 text-gray-900">
          <use xlink:href={{root-url "svg-defs.svg#alert-triangle-16"}}></use>
        </svg>
      </div>
      {{#if @error}}
        <h3 class="normal-case text-sm">{{@error.message}}</h3>
      {{else}}
        <h3 class="normal-case text-sm">{{@errorMessage}}</h3>
      {{/if}}
    </header>
    {{#if @error.details}}
      <div class="pl-12" data-test-error-detail>
        <ul class="list-disc leading-6">
          {{#each @error.details as |detail|}}
            <li>{{detail}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <div class="mt-2 pl-8 flex items-center space-x-2">
      <Mxa::Button class="mxa-btn-secondary" {{on "click" @onDismiss}} data-test-error-dismiss>
        {{or @buttonText "Dismiss"}}
      </Mxa::Button>
    </div>
  </section>
</article>
