{{! template-lint-disable no-duplicate-id  }}
<div>
  {{#if @field.isRequired}}
    <div class="flex items-center justify-between">
      <span class="flex items-center">
        <label for={{dasherize @field.id}} class="text-xs uppercase">{{@field.label}}</label>
        <div class="w-1 h-1 bg-orange-700 rounded-full ml-1"></div>
      </span>

    </div>
  {{else}}
    <label for={{dasherize @field.id}} class="text-xs uppercase">{{@field.label}}</label>
  {{/if}}
</div>

{{#if (eq this.fieldType "text")}}
  <input
    id={{dasherize @field.id}}
    type="text"
    class="mxa-input w-full mb-2
      {{if
        this.isFieldValid
        'bg-white border-gray-300'
        'bg-orange-100 focus:bg-orange-100  border-orange-700 focus:border-orange-700'
      }}"
    value={{@field.value}}
    placeholder={{@field.description}}
    {{on "input" (fn this.setInputValue @field)}}
    {{did-insert this.validateField}}
    data-test-config-field={{@field.id}}
  />
{{/if}}

{{#if (eq this.fieldType "number")}}
  <input
    id={{dasherize @field.id}}
    type="number"
    class="mxa-input w-full mb-2
      {{if
        this.isFieldValid
        'bg-white border-gray-300'
        'bg-orange-100 focus:bg-orange-100 border-orange-700 focus:border-orange-700'
      }}"
    value={{@field.value}}
    placeholder={{@field.placeholder}}
    {{on "input" (fn this.setInputValue @field)}}
    {{did-insert this.validateField}}
    data-test-config-field={{@field.id}}
  />
{{/if}}

{{#if (eq this.fieldType "toggle")}}
  <Mxa::Toggle
    @toggleAction={{fn this.setToggle @field}}
    @id={{dasherize @field.id}}
    class="mb-2"
    data-test-config-field={{@field.id}}
  />
{{/if}}

{{#if (eq this.fieldType "select")}}
  <Mxa::Select
    @options={{this.selectOptions}}
    @selectedOption={{this.selectSelected}}
    @onChange={{fn this.setSelect @field}}
    class="mb-2"
    data-test-config-field={{@field.id}}
    {{did-insert (fn this.setSelect @field this.selectSelected)}}
  />
{{/if}}

{{#if (not this.isFieldValid)}}
  <div class="text-orange-700 text-xs mb-2">
    {{#each @field.error.value.validation as |validation|}}
      <div data-test-config-field-error>{{validation}}</div>
    {{/each}}
  </div>
{{/if}}
