<Mxa::Modal @onDismiss={{@onDismiss}} ...attributes>
  <Mxa::DialogCard
    class="inline-block align-bottom bg-white text-left overflow-visible transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    {{did-insert (action this.validateConnector)}}
  >
    <div class="font-medium pb-4 border-b border-gray-200">
      <div
        class="flex items-center justify-between text-2xl
          {{if this.connector.name '' 'text-gray-500'}}"
      >
        {{#if this.isEditing}}
          Edit
          {{this.connector.name}}
        {{else}}
          {{if this.connector.name this.connector.name "Name your connector"}}
        {{/if}}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 py-4">
      <div>
        <div class="flex items-center">
          <label class="text-xs text-gray-500 uppercase">Connector name</label>
          <div class="w-1 h-1 bg-orange-700 rounded-full ml-1"></div>
        </div>
        <Mxa::UnboundInput
          @value={{this.connector.name}}
          @placeholder="Enter a connector name"
          @isValid={{this.isConnectorNameValid}}
          @onInput={{fn this.setConnectorName this.connector}}
          class="mt-1 mb-2"
          data-test-connector-modal-input="name"
        />
        {{#if (not this.isConnectorNameValid)}}
          <div class="text-orange-700 text-xs">
            {{this.connector.error.name.validation}}
          </div>
        {{/if}}
      </div>
      <div>
        <div class="flex items-center">
          <label class="text-xs text-gray-500 uppercase">Type</label>
          <div class="w-1 h-1 bg-orange-700 rounded-full ml-1"></div>
        </div>
        <Mxa::Select
          @options={{this.connectorTypes}}
          @selectedOption={{this.selectedConnectorType}}
          @onChange={{this.setConnectorType}}
          @isDisabled={{this.isEditing}}
        />
      </div>
      <div class="col-span-2">
        <div class="">
          <div class="flex items-center">
            <label class="text-xs text-gray-500 uppercase">Connector</label>
            <div class="w-1 h-1 bg-orange-700 rounded-full ml-1"></div>
          </div>
          <Mxa::Select
            @options={{this.connectorPluginOptions}}
            @selectedOption={{this.selectedConnectorPlugin}}
            @optionValueKey="id"
            @onChange={{this.setConnectorPlugin}}
            @isDisabled={{not this.connector.isNew}}
            data-test-connector-modal-select="connector-plugin"
          />
        </div>
      </div>
    </div>

    {{#if this.isShowingFields}}
      <div class="flex text-center mb-2 border-b border-gray-300">

        {{#if this.optionalFields}}
          <div
            class="w-1/2 flex-auto pb-2
              {{if this.isShowingRequiredTab 'border-b-2'}}
              border-teal-900 uppercase text-xs cursor-pointer"
            {{on "click" (fn (mut this.isShowingRequiredTab) true)}}
          >
            Required
          </div>
          <div
            class="w-1/2 flex-auto pb-2
              {{if (not this.isShowingRequiredTab) 'border-b-2'}}
              border-teal-900 uppercase text-xs cursor-pointer"
            {{on "click" (fn (mut this.isShowingRequiredTab) false)}}
            data-test-connector-modal-optional-tab
          >
            Optional
          </div>
        {{else}}
          <div
            class="w-full flex-auto pb-2
              {{if this.isShowingRequiredTab 'border-b-2'}}
              border-teal-900 uppercase text-xs cursor-pointer"
            {{on "click" (fn (mut this.isShowingRequiredTab) true)}}
          >
            Configure
          </div>
        {{/if}}
      </div>

      <div class="py-4 text-sm">
        {{#if this.isShowingRequiredTab}}
          <div>
            {{#each this.requiredFields as |field|}}
              <PipelineEditor::ConfigField
                @field={{field}}
                @setInputValue={{this.setConnectorConfig}}
              />
            {{/each}}
          </div>
        {{/if}}

        {{#if (not this.isShowingRequiredTab)}}
          {{#each this.optionalFields as |field|}}
            <PipelineEditor::ConfigField
              @field={{field}}
              @setInputValue={{this.setConnectorConfig}}
            />
          {{/each}}
        {{/if}}
      </div>
    {{/if}}

    <div class="flex items-center justify-end">
      <Mxa::Button
        @buttonType="secondary"
        class="mr-2"
        data-test-connector-modal-cancel-button
        {{on "click" @onDismiss}}
      >Cancel</Mxa::Button>
      {{#if this.isEditing}}
        <Mxa::AsyncButton
          @onClick={{fn @updateConnector this.connector}}
          disabled={{not this.isValid}}
          data-test-connector-modal-update-button
        >Update</Mxa::AsyncButton>
      {{else}}
        <Mxa::AsyncButton
          @onClick={{fn @createConnector this.connector}}
          disabled={{not this.isValid}}
          data-test-connector-modal-create-button
        >Create</Mxa::AsyncButton>
      {{/if}}
    </div>
  </Mxa::DialogCard>
</Mxa::Modal>
