{{! template-lint-disable no-action  }}
<Mxa::SlidePanel
  @onDismiss={{@onDismiss}}
  class="bg-white absolute top-0 w-76 right-0 bottom-0 overflow-x-hidden shadow-md border-t border-gray-300"
>
  <div
    class="transform transition-transform duration-500 ease-in-out flex w-228 h-full
      {{if
        (or this.isShowingAvailableTransforms this.isShowingEditTransformPanel)
        '-translate-x-76'
      }}
      {{if this.isShowingNewTransformPanel '-translate-x-152'}}"
  >
    <div class="flex flex-col w-76">
      <div class="flex justify-between items-center bg-white px-6 py-6">
        <span class="slide-panel-header font-semibold" data-test-connector-slide-panel-node-name>
          {{@selectedNode.name}}
        </span>
        <div>
          <BasicDropdown as |dd|>
            <dd.Trigger data-test-dropdown-trigger="connector-panel-options">
              <svg class="text-gray-900 fill-current h-4 w-4">
                <use xlink:href="/ui/svg-defs.svg#action-menu-16"></use>
              </svg>
            </dd.Trigger>
            <dd.Content class="bg-white rounded-md border border-gray-200 shadow-md text-sm">
              <ul class="font-semibold">
                <li
                  class="cursor-pointer pl-2 pr-16 py-4 hover:bg-gray-100 flex items-center"
                  data-test-dropdown-button="connector-panel-edit"
                  {{on "click" @showEditConnectorModal}}
                  {{on "click" dd.actions.close}}
                >
                  <svg class="fill-current h-4 w-4 mr-2">
                    <use xlink:href="/ui/svg-defs.svg#settings-16"></use>
                  </svg>
                  Edit Connector
                </li>
                <li
                  class="cursor-pointer text-orange-700 pl-2 pr-16 py-4 hover:bg-gray-100 flex items-center"
                  data-test-dropdown-button="connector-panel-delete"
                  {{on "click" @showDeleteConnectorModal}}
                  {{on "click" dd.actions.close}}
                >
                  <svg class="fill-current text-orange-700 h-4 w-4 mr-2">
                    <use xlink:href="/ui/svg-defs.svg#delete-16"></use>
                  </svg>
                  Remove Connector
                </li>
              </ul>
            </dd.Content>
          </BasicDropdown>
        </div>
      </div>
      <div class="flex text-center mb-2 border-b border-gray-300">
        <div
          class="w-full flex-auto pb-2 border-b-2 font-medium border-teal-900 uppercase text-xs cursor-pointer"
          data-test-transforms-tab
        >
          Transforms
          {{this.sortedTransforms.length}}
        </div>
      </div>
      <div class="flex h-full">
        <div class="w-full">
          <div class="px-4 mb-6 mt-4">
            <Mxa::Button
              @buttonType="secondary"
              class="w-full text-teal-900 text-sm"
              {{on "click" (fn (mut this.isShowingAvailableTransforms) true)}}
              data-test-button="add-connector-transform"
              disabled={{@pipeline.isRunning}}
            >
              Add transform
            </Mxa::Button>
          </div>
          <div class="px-4">
            <ol
              tabindex="0"
              {{sortable-group
                onChange=(action this.sortConnectorTransforms)
                itemVisualClass="bg-purple-600"
              }}
            >
              {{#each this.wrappedSortedTransforms as |connectorTransform idx|}}
                {{#if @pipeline.isRunning}}
                  <li
                    tabindex="0"
                    class="relative mb-2 rounded border-2 border-transparent z-0"
                    data-test-connector-transform
                  >
                    <div
                      class="py-4 pr-4 pl-2 rounded border border-gray-300 flex items-center justify-between
                        {{if connectorTransform.hasPendingChanges 'bg-purple-100' 'bg-white'}}"
                    >
                      <div class="flex items-center">
                        <div
                          class="rounded-full h-6 w-6 bg-gray-100 text-center text-sm flex items-center justify-center mr-2"
                        >
                          {{add-one idx}}
                        </div>
                        <div>
                          <div class="text-xs font-medium">
                            {{connectorTransform.transform.label}}
                          </div>
                          <div class="text-gray-500 text-xs">
                            {{connectorTransform.transform.name}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {{else}}
                  <li
                    tabindex="0"
                    class="{{if
                        (eq connectorTransform this.draggingItem)
                        'border-purple-600 z-50 transition-none'
                        'border-transparent z-0 transition'
                      }}
                      relative mb-2 rounded border-2"
                    {{sortable-item
                      model=connectorTransform
                      onDragStart=(action this.onDragStart)
                      onDragStop=(action this.onDragStop)
                    }}
                    data-test-connector-transform
                  >
                    <div
                      class="py-4 pr-4 pl-2 rounded border border-gray-300 flex items-center justify-between
                        {{if connectorTransform.hasPendingChanges 'bg-purple-100' 'bg-white'}}"
                    >
                      <div class="flex items-center">
                        <span class="cursor-move" {{sortable-handle}}>
                          <svg class="text-gray-500 fill-current h-4 w-4">
                            <use xlink:href="/ui/svg-defs.svg#drag-handle-16"></use>
                          </svg>
                        </span>
                        <div
                          class="rounded-full h-6 w-6 bg-gray-100 text-center text-sm flex items-center justify-center mr-2"
                        >
                          {{add-one idx}}
                        </div>
                        <div>
                          <div class="text-xs font-medium">
                            {{connectorTransform.transform.label}}
                          </div>
                          <div class="text-gray-500 text-xs">
                            {{connectorTransform.transform.name}}
                          </div>
                        </div>
                      </div>
                      <svg
                        class="text-gray-500 stroke-current h-4 w-4 cursor-pointer"
                        fill="none"
                        {{on "click" (fn this.showEditTransformPanel connectorTransform)}}
                        data-test-button="edit-transform"
                      >
                        <use xlink:href="/ui/svg-defs.svg#pencil-16"></use>
                      </svg>
                    </div>
                  </li>

                {{/if}}

              {{else}}
                <div class="text-center text-gray-500 text-xs">
                  No transforms configured for this source
                </div>
              {{/each}}
            </ol>

            {{#if @pipeline.isRunning}}
              <div class="text-orange-700 text-sm font-normal flex justify-end mt-4">You must pause
                the pipeline if you'd like to update it's transforms.</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    {{#if this.isShowingAvailableTransforms}}
      <div class="w-76">
        <PipelineEditor::ConnectorSlidePanel::AvailableTransformsPanel
          @dismiss={{fn (mut this.isShowingAvailableTransforms) false}}
          @availableTransforms={{@availableTransforms}}
          @showNewTransformPanel={{this.showNewTransformPanel}}
        />
      </div>
    {{/if}}
    <div class="w-76">
      {{#if this.isShowingNewTransformPanel}}
        <PipelineEditor::ConnectorSlidePanel::TransformPanel
          @availableTransforms={{@availableTransforms}}
          @dismiss={{this.cancelNewTransformPanel}}
          @selectedNode={{@selectedNode}}
          @connectorTransform={{this.selectedTransform}}
          @addTransform={{this.addTransform}}
          @isEditing={{false}}
        />
      {{/if}}
      {{#if this.isShowingEditTransformPanel}}
        <PipelineEditor::ConnectorSlidePanel::TransformPanel
          @availableTransforms={{@availableTransforms}}
          @dismiss={{this.cancelEditTransformPanel}}
          @selectedNode={{@selectedNode}}
          @connectorTransform={{this.selectedTransform}}
          @updateTransform={{this.updateTransform}}
          @duplicateTransform={{this.duplicateTransform}}
          @removeTransform={{this.removeTransform}}
          @isEditing={{true}}
        />
      {{/if}}
    </div>
  </div>
</Mxa::SlidePanel>
