<ul data-test-connector-overview-list>
  {{#each @sourceConnectors as |connector|}}
    <li
      class="mb-2 py-2 px-4 hover:bg-purple-100 cursor-pointer
        {{if
          (eq connector @selectedNode)
          'bg-purple-100 border-l-2 border-purple-600'
          'border-transparent border-l-2'
        }}"
      data-test-connector-overview-list-item
      {{on "click" (fn @selectNode connector)}}
    >
      <div class="flex items-center justify-between">
        <div class="text-xs font-medium">
          {{connector.name}}
        </div>
        <div class="text-gray-500 text-xs">
          {{connector.connectorPlugin.name}}
        </div>
      </div>
      <div class="flex items-center">
        <div class="text-gray-500 text-xs">
          {{connector.processors.length}}
          {{#if (eq connector.processors.length 1)}}
            Transform
          {{else}}
            Transforms
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
  {{#each @destinationConnectors as |connector|}}
    <li
      class="mb-2 py-2 px-4 hover:bg-purple-100 cursor-pointer
        {{if
          (eq connector @selectedNode)
          'bg-purple-100 border-l-2 border-purple-600'
          'border-transparent border-l-2'
        }}"
      data-test-connector-overview-list-item
      {{on "click" (fn @selectNode connector)}}
    >
      <div class="flex items-center justify-between mb-1">
        <div class="text-xs font-medium">
          {{connector.name}}
        </div>
        <div class="text-gray-500 text-xs">
          {{connector.connectorPlugin.name}}
        </div>
      </div>
      <div class="flex items-center">
        <div class="text-gray-500 text-xs">
          {{connector.processors.length}}
          {{#if (eq connector.processors.length 1)}}
            Transform
          {{else}}
            Transforms
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
  {{#if (and (not @sourceConnectors) (not @destinationConnectors))}}
    <div class="text-center text-gray-500 text-xs break-normal">
      No connectors. Try adding some with the '+' above!
    </div>
  {{/if}}
</ul>
