<Mxa::ModalDialog
  @title="Stream Inspector"
  @onDismiss={{@onDismiss}}
  @isWide={{true}}
  data-test-pipeline-error-modal
>
  <div class="py-4">
    <div class="flex text-center mb-4">
      {{! template-lint-disable no-invalid-interactive }}
      <div
        class="w-1/2 flex-auto pb-2
          {{if (not this.isShowingSingleRecord) 'border-b-2'}}
          border-teal-900 uppercase text-sm cursor-pointer"
        {{on "click" (fn (mut this.isShowingSingleRecord) false)}}
      >
        Stream
      </div>
      <div
        class="w-1/2 flex-auto pb-2
          {{if this.isShowingSingleRecord 'border-b-2'}}
          border-teal-900 uppercase text-sm cursor-pointer"
        {{on "click" (fn (mut this.isShowingSingleRecord) true)}}
        data-test-connector-modal-optional-tab
      >
        {{! template-lint-enable no-invalid-interactive }}
        Single record
      </div>
    </div>

    {{#if this.isShowingSingleRecord}}
      <div
        class="max-h-96 overflow-scroll bg-slate-100 rounded-md mb-2 color-scheme-dark"
        {{scroll-bottom}}
      >
        <pre class="json-container whitespace-pre-wrap text-white text-sm p-4"><div>{{if
              this.inspector.records.lastObject
              this.inspector.records.lastObject
              "Waiting for data..."
            }}</div></pre>
      </div>
      <div class="text-gray-500 text-sm mb-2 text-center">
        Showing latest record in stream
      </div>
    {{else}}
      <div
        class="max-h-96 overflow-scroll bg-slate-100 rounded-md mb-2 color-scheme-dark"
        {{scroll-bottom}}
      >
        <pre class="json-container whitespace-pre-wrap text-white text-sm p-4 w-full">{{#each
            this.inspector.records
            as |record|
          }}<div data-test-stream-inspector="json-record">{{record}}</div>{{else}}<div
              data-test-stream-inspector="empty-record"
            >Waiting for data...</div>{{/each}}</pre>
      </div>
      <div class="text-gray-500 text-sm mb-2 text-center">
        Showing 10 latest records in stream
      </div>
    {{/if}}

    <div class="flex justify-center">
      {{#if this.isShowingControls}}
        {{#if this.isStreaming}}
          <Mxa::Button
            class="flex items-center"
            @buttonType="secondary"
            data-test-stream-inspector-button="pause"
            {{on "click" this.pauseStream}}
          >
            <svg class="text-gray-500 stroke-current h-6 w-6 mr-1">
              <use xlink:href="/ui/svg-defs.svg#pause-24"></use>
            </svg>
            Pause Inspector
          </Mxa::Button>
        {{else}}
          <Mxa::Button
            class="flex items-center"
            @buttonType="secondary"
            data-test-stream-inspector-button="resume"
            {{on "click" this.resumeStream}}
          >
            <svg class="text-teal-600 stroke-current h-6 w-6 mr-1">
              <use xlink:href="/ui/svg-defs.svg#play-24"></use>
            </svg>
            Resume Inspector
          </Mxa::Button>
        {{/if}}
      {{/if}}
    </div>
  </div>
</Mxa::ModalDialog>
