{{page-title "Conduit"}}
<div class="h-full">
  <nav class="w-16 bg-gray-900 fixed h-full overflow-hidden">
    <div class="flex flex-col items-center h-full">
      <div class="pt-5 pb-5">
        <LinkTo @route="application">
          <img src={{root-url "images/conduit-branding.svg"}} alt="Conduit" />
        </LinkTo>
      </div>
      <div>
        <LinkTo
          @route="pipelines.index"
          class="nav-link flex flex-col items-center py-4 px-5 hover:bg-gray-800 text-white text-tiny"
        >
          <svg class="text-white stroke-current h-6 w-6">
            <use xlink:href={{root-url "svg-defs.svg#pipelines-16"}}></use>
          </svg>
          Pipelines
        </LinkTo>
      </div>
    </div>
  </nav>

  <div class="absolute left-16 right-0 top-0 bottom-0 overflow-hidden">
    <div id="top-nav">
    </div>
    <main class="absolute left-0 right-0 top-12 bottom-0 z-20 overflow-y-scroll p-9">
      {{outlet}}
      <div class="fixed right-4 top-4 z-50">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage
            @flash={{flash}}
            {{css-transition
              enterActiveClass="transition ease-out duration-100"
              enterClass="transform opacity-0 scale-95"
              enterToClass="transform opacity-100 scale-100"
              leaveActiveClass="transition ease-in duration-75"
              leaveClass="transform opacity-100 scale-100"
              leaveToClass="transform opacity-0 scale-95"
            }}
            as |component flash close|
          >
            <NotificationCard::Error
              @error={{flash.detailedError}}
              @errorMessage={{flash.message}}
              @buttonText={{flash.customButtonText}}
              @onDismiss={{close}}
              data-test-flash-message={{component.flashType}}
            />
          </FlashMessage>
        {{/each}}
      </div>
    </main>
  </div>
  <div class="absolute bottom-0 right-2 text-sm text-black">{{app-version shaOnly=true}}</div>
</div>
