{{outlet}}

{{#if this.confirmDeletePipeline}}
  <Mxa::ConfirmModal
    @onDismiss={{fn (mut this.confirmDeletePipeline) null}}
    @confirmableActionName="Delete"
    @entityName={{this.confirmDeletePipeline.name}}
    @confirmedAction={{fn this.destroyPipeline this.confirmDeletePipeline}}
    @isTextInputRequired={{true}}
    as |entityName|
  >
    Deleting a pipeline cannot be undone. Please input your pipelines's name
    <code>({{entityName}})</code>
    below to confirm you would like to delete this pipeline
  </Mxa::ConfirmModal>
{{/if}}

{{#if this.pipelineRunningError}}
  <Mxa::ModalDialog
    @title="Error"
    @onDismiss={{fn this.setPipelineRunningError null}}
    data-test-pipeline-error-modal
  >
    <div class="py-4">
      <code class="break-words">{{this.pipelineRunningError}}</code>
    </div>
    <div class="flex items-center justify-end mt-4">
      <Mxa::Button
        @buttonType="secondary"
        class="mr-2"
        data-test-pipeline-error-modal-cancel-button
        {{on "click" (fn this.setPipelineRunningError null)}}
      >Dismiss</Mxa::Button>
    </div>
  </Mxa::ModalDialog>
{{/if}}
