{{#in-element (get-element "top-nav")}}
  <PipelineTopNav @pipeline={{@model.pipeline}} />
{{/in-element}}
<div class="pl-9 pr-6 py-6 max-h-26 bg-white border-b border-gray-200 -mx-9 -mt-9 mb-10">
  {{#if @model.pipeline.name}}
    <div class="flex items-center">
      <div class="font-medium text-2xl" data-test-pipeline-subheader-name>
        {{@model.pipeline.name}}
      </div>
      {{#if @model.pipeline.id}}
        <div>
          <BasicDropdown @horizontalPosition="auto-left" as |dd|>
            <dd.Trigger data-test-pipeline-open-menu>
              <button class="text-sm py-1 px-2 bg-white text-gray-900">
                <svg class="text-gray-500 stroke-current h-6 w-6">
                  <use xlink:href="/ui/svg-defs.svg#down-arrow-24"></use>
                </svg>
              </button>
            </dd.Trigger>
            <dd.Content class="bg-white rounded-md border border-gray-200 shadow-md text-sm">
              <ul data-test-pipeline-menu>
                <li>
                  <LinkTo
                    @route="pipeline.settings"
                    @model={{@model.pipeline.id}}
                    @invokeAction={{dd.actions.close}}
                    class="flex items-center cursor-select hover:bg-gray-100 pr-16 pl-4 pt-4 pb-2"
                    data-test-pipeline-menu-item="settings"
                  >
                    <svg class="fill-current h-4 w-4 mr-2">
                      <use xlink:href="/ui/svg-defs.svg#settings-16"></use>
                    </svg>
                    Pipeline settings
                  </LinkTo>
                </li>
                <li
                  class="text-orange-700 font-medium flex items-center cursor-select hover:bg-gray-100 pr-16 pl-4 pb-4 pt-2"
                  data-test-pipeline-menu-item="delete"
                  {{on
                    "click"
                    (fn this.pipelinesController.setConfirmDeletePipeline @model.pipeline)
                  }}
                  {{on "click" dd.actions.close}}
                >
                  <svg class="fill-current text-orange-700 h-4 w-4 mr-2">
                    <use xlink:href="/ui/svg-defs.svg#delete-16"></use>
                  </svg>
                  Remove
                </li>
              </ul>
            </dd.Content>
          </BasicDropdown>
        </div>
        <div class="flex-auto"></div>
        <div class="flex items-center space-x-2">
          {{#if @model.pipeline.isDegraded}}
            <button
              {{on
                "click"
                (fn this.pipelinesController.setPipelineRunningError @model.pipeline.state.error)
              }}
              data-test-pipeline-degraded-button
            >
              <svg class="stroke-current h-6 w-6 text-gray-900">
                <use xlink:href={{root-url "svg-defs.svg#alert-triangle-16"}}></use>
              </svg>
            </button>
          {{/if}}
          <Pipeline::Status
            @status={{@model.pipeline.humanFriendlyStatus}}
            @startPipeline={{fn this.startPipeline @model.pipeline}}
            @stopPipeline={{fn this.stopPipeline @model.pipeline}}
          />
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="font-medium text-2xl mb-2 text-gray-500">
      Name your pipeline
    </div>
  {{/if}}

  <div
    class="text-xs text-gray-500 {{if (not @model.pipeline.description) 'mb-6'}}"
    data-test-pipeline-subheader-description
  >
    {{@model.pipeline.description}}
  </div>
</div>

{{outlet}}
