<div class="max-w-4xl mx-auto pt-20">
  <div class="text-3xl font-semibold mb-6">Settings</div>

  <div class="text-2xl font-semibold mb-4">Configuration</div>

  <Mxa::Card class="mb-8">
    <div class="uppercase mb-2 text-xs">Telemetry Opt-in</div>

    <div class="flex justify-between space-x-8">
      <p class="text-sm w-2/3">
        Help us help you. We are using a service designed to help us gain insights from the Conduit
        servers on how various Connectors and features are being used by the community. This enables
        us to focus our resources on the most impactful projects.
      </p>

      <Mxa::Toggle @label={{this.telemetryOptInLabel}} @toggleAction={{this.setTelemetryOptIn}} />
    </div>
  </Mxa::Card>

  <div class="text-2xl font-semibold mb-4">Server Details</div>
  <Mxa::Card class="text-xs mb-4">
    <div class="uppercase mb-2">Connector Directory</div>
    <code class="text-teal-600">{{model.connectorDirectory}}</code>
  </Mxa::Card>

  <Mxa::Card class="text-xs mb-4">
    <div class="uppercase mb-2">Transform Directory</div>
    <code class="text-teal-600">{{model.transformDirectory}}</code>
  </Mxa::Card>

  <Mxa::Card class="text-xs mb-4">
    <div class="uppercase mb-2">Port</div>
    <code class="text-teal-600">{{model.conduitPort}}</code>
  </Mxa::Card>

  <Mxa::Card class="text-xs mb-4">
    <div class="uppercase mb-2">Log Retention</div>
    <code class="text-teal-600">{{model.logRetention}}</code>
  </Mxa::Card>

  <Mxa::Card class="text-xs mb-4">
    <div class="uppercase mb-2">Metrics Retention</div>
    <code class="text-teal-600">{{model.metricsRetention}}</code>
  </Mxa::Card>

  <Mxa::Card class="text-xs mb-8">
    <div class="uppercase mb-2">Metrics export endpoint</div>
    <code class="text-teal-600">{{model.metricsExportEndpoint}}</code>
  </Mxa::Card>
</div>
