<div class="max-w-4xl mx-auto pt-20 pb-10">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl font-semibold">
      Transforms
    </h1>

    <div class="flex items-center">
      <Mxa::SearchInput @placeholder="Search transforms" />
    </div>
  </div>

  <Transforms::List @transforms={{this.currentPageFilteredTransforms}} />

  <div class="flex items-center justify-between">
    <div class="text-gray-500 text-sm font-medium">Displaying
      {{this.currentPageAccumulatedLength}}
      of
      {{this.filteredTransforms.length}}</div>

    {{#if (gt this.totalPages 1)}}
      <div class="flex items-center space-x-2">
        {{#each this.pagesList as |page|}}
          <LinkTo
            class="flex items-center justify-center h-6 w-6 bg-white rounded border border-gray-300 text-sm"
            @route="pipelines.index"
            @query={{hash page=(if (eq page 1) null page)}}
          >
            {{page}}
          </LinkTo>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
